/* Navbar.css */
.navbar-container {
    background-color: #7a00b3;
    /* padding: 10px; */
    height: 80px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eac6c6;
  }
  
  .app-name {
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
  }
  

  .app-title {
    font-size: 1.5em;
    color: rgb(202, 229, 211);
  }
  
  .nav-links {
    margin-top: 15px;
    display: flex;    
  }
  .signoutbtn{
    background-color: #7a00b3;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    margin-left: 40px;
  }
  
  .nav-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    filter: invert(100%);
  }
  
  .nav-link:hover {
    background-color: #450065;
    border-radius: 5px;
  }
  